USE [master]
GO
/****** Object:  Database [PharmaDb]    Script Date: 25-06-2020 17:02:07 ******/
CREATE DATABASE [PharmaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PharmaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PharmaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PharmaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmaDb]
GO
/****** Object:  Table [dbo].[PharmaceuticalItems]    Script Date: 25-06-2020 17:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PharmaceuticalItems](
	[Id] [varchar](20) NOT NULL,
	[Name] [varchar](100) NULL,
	[Cost] [decimal](7, 2) NULL,
	[QuantityInStock] [int] NULL,
	[TypeId] [int] NULL,
	[SupplierId] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PharmaceuticalItemType]    Script Date: 25-06-2020 17:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PharmaceuticalItemType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 25-06-2020 17:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [varchar](20) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PharmaceuticalItemType] ON 

INSERT [dbo].[PharmaceuticalItemType] ([Id], [Name]) VALUES (1, N'Tablet')
INSERT [dbo].[PharmaceuticalItemType] ([Id], [Name]) VALUES (2, N'Syrup')
SET IDENTITY_INSERT [dbo].[PharmaceuticalItemType] OFF
INSERT [dbo].[Suppliers] ([Id], [Name], [Address]) VALUES (N'S001', N'HK', N'France')
INSERT [dbo].[Suppliers] ([Id], [Name], [Address]) VALUES (N'S002', N'GM', N'USA')
ALTER TABLE [dbo].[PharmaceuticalItems]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[PharmaceuticalItems]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[PharmaceuticalItemType] ([Id])
GO
USE [master]
GO
